.contact-form {
  input,
  textarea {
    font-size: 0.9rem;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.65rem;
    border: 2px solid rgba(#ef0d33, 0.7);
    background: rgba(0, 0, 0, 0.1);
    color: rgba(#fff, 0.85);
    outline: none;
    transition: 0.3s;

    &::placeholder {
      color: rgba(#ef0d33, 0.6);
    }
  }

  &__button {
    display: inline-block;
    padding: 8px;
    border: 2px solid rgba(#ef0d33, 0.9);
    border-radius: 4px;
    background: rgba(#fff, 0);
    color: rgba(#ef0d33, 0.9);
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    &:hover {
      background: rgba(#ef0d33, 0.9);
      color: #14161e;
    }
  }

  &__loader {
    color: rgba(#ef0d33, 0.9);
    animation-duration: 1.2s !important;
  }
}
